#header {
    background: none repeat scroll 0 0 #000000 ;
    color: #ff0000;
    overflow: hidden;
    width: 100%;
}
#branding{
    color: #ff0000;
}


h1{
    color: #ff0000;
    font-size: 18px;
    margin: 0 0 0.2em;
    padding: 0 6px 0 0;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
}


a:link, a:visited {
    color: green;
    text-decoration: underline;
    font-size: 14px;
}

.module h2, .module caption, .inline-group h2 {
    background:  darkblue;
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: center;
}