/**
For capture-sys.ruelsoft.org
Part of user-captures
**/
div.counter_block {font-family: 'Arial','Sans-serif'; font-size: 14px;border: 1px solid #C9C8C8; text-align: center; display: inline-block; padding: 6px 10px; background-color: #EFEFEF; border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
div.counter_block div {}
div.counter_block div span {border-radius: 1px; -webkit-border-radius: 1px; -moz-border-radius: 1px;display: inline-block; background-color: #312A20; text-align: center; font-size: 12px; padding: 2px; line-height: 14px; color: #fff; margin: 0 2px;}
#social_network {
    display: inline-block;
}
#social_network a {opacity: 0.5;background:url("http://a-jetlanding.com/static/img/icons_monochrom.png");display:inline-block;vertical-align:bottom;width:32px;height:32px;margin:0 6px 6px 0;outline:none;}
#social_network:hover a {opacity: 0.7}
#social_network a:hover {opacity: 1; background:url("http://a-jetlanding.com/static/img/icons.png")}
