body{
    padding-top: 40px;
}

.lkex1{
    display: none;

    }
.lkex2{
    display: block;

    }
.display-notebook{
    margin-top: 0px;
}
.display-logo{
    display: none;
}
@media (min-width: 1024px) and (max-width: 1615px) {
.lkex1{
    padding-top: 10px;
    display: block;

    }
.lkex2{
    display: none;
}
.display-logo{
    display: block;
}
    }
.display-notebook{
    margin-top: 5px;
}
}


div.cnt_nav{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}

div.container
{
    color: #71787a;
}

a{
    outline: none !important;
}

div.header img {
    vertical-align: bottom;
}

div.header{
    background-color: #ffffff;

}

header.header{
    border-bottom: 7px solid #9a8ee6;
    margin-bottom: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffffff;
}
header .header-btn{
    padding-top: 5px;
}
header .header-name{
    color: #4B5052;
    font-size: 14px;
}
header .header-alogo{
    padding-left: 20px;
    width: 100%;
}
header .header-alogo-mini{
    padding-left: 20px;
}
div.logo{
    padding: 6px 0;
}

div.logo a.logo{
    text-decoration: none;

}

div.logo span.logo{
    font-size: 20px;
    font-family: Tahoma;
    color: #4b5052;
    margin-left: 15px;
    margin-bottom: 25px;
    padding: 0;
}

div.help{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background: #ff7417;
    font-family: Tahoma;
    margin-right: 10px;
}


ul.nav a.help{
    padding: 2px 0;
    margin-left: 15px;

}

a.lk{
    background: url('/static/img/logout_ico.png') 10px 5px no-repeat;
    width: 180px;
    border: 2px solid #69b5de;
    border-radius: 4px;
    color: #69b5de;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    text-decoration: underline;
    margin-right: 10px;
    margin-left: 10px;
}

.visible-xs a.lk{
    background: url('/static/img/logout_ico.png') 10px 5px no-repeat;
    width: 180px;
    border: 2px solid #69b5de;
    border-radius: 4px;
    color: #69b5de;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    text-decoration: underline;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}




a.lk:hover{
    background-color: #5ea0c6;
    background-position: 10px -21px;
    border: 2px solid #5ea0c6;
    color: white;
}

a.lk:active,a.lk:focus{
    background-color: #69b5de;
    background-position: 10px -21px;
    border: 2px solid #69b5de;
    color: white;
}


a.exit{
    background: url('/static/img/office_ico.png?a=b') 40px 6px no-repeat;
    width: 180px;
    border: 2px solid #bcbcbc;
    border-radius: 4px;
    color: #71787a;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}

a.exit:hover{
    background-color: #8a9196;
    background-position: 40px -20px;
    border: 2px solid #8a9196;
    color: white;
}

a.exit:active, a.exit:focus{
    background-color: #a4adb2;
    background-position: 40px -20px;
    border: 2px solid #a4adb2;
    color: white;
}

span.help {
    color: #71787a;
    padding: 0 0px 0 5px;
    line-height: 30px;
    text-decoration: underline;
}

ul.nav a.help:hover, ul.nav a.help:focus{
    background: none;
}

.nav-menu-left{
    border-right: 2px solid #d3d3d3;
    margin-top: 50px;
}

.nav-stacked ul{
    padding: 5px 0;

}

.nav-stacked a.menu{
    color: #808080;
    padding: 5px 0px 5px 35px;
    height: 30px;
    margin-left: 20px;
}
.nav-stacked li{
    margin-bottom: 20px;
}



.nav-stacked a.new{
    background: url("/static/img/buttons/new_open.png") 0 5px no-repeat;
    background-position-x: 5px;
    background-position-y: 3px;
}

.nav-stacked a.save, a.save-as{
    background: url("/static/img/buttons/save_small.png") 0 5px no-repeat;
     background-position-x: 5px;
    background-position-y: 3px;
}

a.save, a.save-as{
    background: url("/static/img/buttons/save_small.png") 0 5px no-repeat;
     background-position-x: 5px;
    background-position-y: 3px;
}

.nav-stacked a.open{
    background: url("/static/img/buttons/open.png") 0 5px no-repeat;
     background-position-x: 5px;
    background-position-y: 3px;
}

.menu-md-left a.open{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}
.menu-md-left a.open:hover{
    color: #ffffff;
}
.menu-md-left a.open:active{
    color: #ffffff;
}
.menu-md-left a.open:focus{
    color: #ffffff;
}
.nav-stacked a.back{
    background: url("/static/img/buttons/back.png") 0 5px no-repeat;
     background-position-x: 5px;
    background-position-y: 3px;
}

.nav-stacked a.next{
    background: url("/static/img/buttons/next.png") 0 5px no-repeat;
     background-position-x: 5px;
    background-position-y: 3px;
}

.nav-stacked a.http{
    background: url("/static/img/buttons/http.png") 0 5px no-repeat;
     background-position-x: 5px;
    background-position-y: 3px;
}

.nav-stacked a.html{
    background: url("/static/img/buttons/html.png") 0 5px no-repeat;
     background-position-x: 5px;
    background-position-y: 3px;
}

.nav-stacked a.view{
    background: url("/static/img/buttons/view.png") 0 5px no-repeat;
     background-position-x: 5px;
    background-position-y: 3px;
}

.nav-stacked a.public{
    background: url("/static/img/buttons/public_big.png") 0 5px no-repeat;
     background-position-x: 5px;
    background-position-y: 3px;
}


/*
ul.nav.head li:nth-child(2){
    margin: 0 25px;
}



.nav-menu ul.navbar-nav a{
    padding: 15px 10px;
}



.nav-menu ul.navbar-nav a.menu span{
    border-bottom: 1px dashed #808080;
}

*/
.nav-menu-left .my-projects{
    padding-left: 10px;
}

.modal-footer{
    text-align: left;
    background: #F3F3F3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

button.btn{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #484848;
}

.modal-footer .good{
    background: #9a8ee6;
    color: #ffffff;
}

.modal-footer .good:hover{
    background: #8177c0;
}

.modal-footer .good:active{
    background: #605d97;
}

.modal-footer .btn:focus{
    outline: none;
}

.modal-footer .cancel{
    background: #a0a0a0;
    color: #ffffff;
}

.modal-footer .cancel:hover{
    background: #c3c3c3;
}

.modal-footer .cancel:active{
    background: #6d6d6d;
}

div.logo_capture{
    margin: 10px 0;
}

span.logo-text{
    font-size: 35px;
    padding: 15px;
    color: #333333;
}
.page_name{
    font-size: 20px;
    color: #808080;
}

div.logo_capture .border{
    border-top: 2px solid #333333;
    width: 210px;
    margin: 10px auto;
}



.element-pic{
    margin: 10px;
    border: none;
    width: 56px;
    height: 56px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 5px;

}

.element-pic:focus{
    outline: none;

}


.el-youtube{
    background: url(/static/img/elements-min/youtube-min.png) no-repeat;
    width: 39px;
    height: 39px;
    border: 1px solid #999;
    border-radius: 50%;
}
.el-youtube:hover{
    background: url(/static/img/elements-min/youtube-min.png) no-repeat #d3d3d3;

}
.el-youtube:active{
    background: url(/static/img/elements-min/youtube-min.png) no-repeat #808080;

}
.el-youtube:focus{
    background: url(/static/img/elements-min/youtube-min.png) no-repeat #808080;

}

.additional-instruments .el-youtube{
    background: url(/static/img/elements/youtube.png) no-repeat;
    background-position: 0 -1px;
    width: 56px;
    height: 56px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%; /*скругление равно 50 процентам от общей ширины, фактически 25 пикселей, вот и круг получили(ещё есть с префиксом -moz и -o) */
}
.additional-instruments .el-youtube:hover{
    background: url(/static/img/elements/youtube.png) no-repeat #d3d3d3;
    background-position: 0 -1px;
}
.additional-instruments .el-youtube:active{
    background: url(/static/img/elements/youtube.png) no-repeat #808080;
    background-position: 0 -1px;
}
.additional-instruments #el-youtube:focus{
    background: url(/static/img/elements/youtube.png) no-repeat #808080;
    background-position: 0 -1px;
}

.el-text{
    background: url(/static/img/elements-min/text-min.png) no-repeat;
    width: 39px;
    height: 39px;
    border: 1px solid #999;
    border-radius: 50%;
}
.el-text:hover{
    background: url(/static/img/elements-min/text-min.png) no-repeat #d3d3d3;

}
.el-text:active{
    background: url(/static/img/elements-min/text-min.png) no-repeat #808080;

}

.el-text:focus{
    background: url(/static/img/elements-min/text-min.png) no-repeat #808080;

}

.additional-instruments .el-text{
    background: url(/static/img/elements/text.png) no-repeat;
    background-position: 0 -1px;
    width: 56px;
    height: 56px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%;
}

.additional-instruments .el-text:hover{
    background: url(/static/img/elements/text.png) no-repeat #d3d3d3;
    background-position: 0 -1px;
}
.additional-instruments .el-text:active{
    background: url(/static/img/elements/text.png) no-repeat #808080;
    background-position: 0 -1px;
}
.additional-instruments .el-text:focus{
    background: url(/static/img/elements/text.png) no-repeat #808080;
    background-position: 0 -1px;
}

.el-img{
    background: url(/static/img/elements-min/img-min.png) no-repeat;
    width: 39px;
    height: 39px;
    border: 1px solid #999;
    border-radius: 50%;
}
.el-img:hover{
    background: url(/static/img/elements-min/img-min.png) no-repeat #d3d3d3;

}
.el-img:active{
    background: url(/static/img/elements-min/img-min.png) no-repeat #808080;

}
.el-img:focus{
    background: url(/static/img/elements-min/img-min.png) no-repeat #808080;

}


.additional-instruments .el-img{
    background: url(/static/img/elements/img.png) no-repeat;
    background-position: 0 -1px;
    width: 56px;
    height: 56px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%;
}

.additional-instruments .el-img:hover{
    background: url(/static/img/elements/img.png) no-repeat #d3d3d3;
    background-position: 0 -1px;
}
.additional-instruments .el-img:active{
    background: url(/static/img/elements/img.png) no-repeat #808080;
    background-position: 0 -1px;
}
.additional-instruments .el-img:focus{
    background: url(/static/img/elements/img.png) no-repeat #808080;
    background-position: 0 -1px;
}

.el-visit-counter{
    background: url(/static/img/elements-min/visits-counter-min.png) no-repeat;
    width: 39px;
    height: 39px;
    border: 1px solid #999;
    border-radius: 50%;
}
.el-visit-counter:hover{
    background: url(/static/img/elements-min/visits-counter-min.png) no-repeat #d3d3d3;

}
.el-visit-counter:active{
    background: url(/static/img/elements-min/visits-counter-min.png) no-repeat #808080;

}
.el-visit-counter:focus{
    background: url(/static/img/elements-min/visits-counter-min.png) no-repeat #808080;

}

.additional-instruments .el-visit-counter{
    background: url(/static/img/elements/visits-counter.png) no-repeat;
    background-position: 0 -1px;
    width: 56px;
    height: 56px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%;
}

.additional-instruments .el-visit-counter:hover{
    background: url(/static/img/elements/visits-counter.png) no-repeat #d3d3d3;
    background-position: 0 -1px;
}
.additional-instruments .el-visit-counter:active{
    background: url(/static/img/elements/visits-counter.png) no-repeat #808080;
    background-position: 0 -1px;
}
.additional-instruments #el-visit-counter:focus{
    background: url(/static/img/elements/visits-counter.png) no-repeat #808080;
    background-position: 0 -1px;
}

.el-div{
    background: url(/static/img/elements-min/box-min.png) no-repeat;
    width: 39px;
    height: 39px;
    border: 1px solid #999;
    border-radius: 50%;
}
.el-div:hover{
    background: url(/static/img/elements-min/box-min.png) no-repeat #d3d3d3;

}
.el-div:active{
    background: url(/static/img/elements-min/box-min.png) no-repeat #808080;

}
.el-div:focus{
    background: url(/static/img/elements-min/box-min.png) no-repeat #808080;

}

.additional-instruments .el-div{
    background: url(/static/img/elements/box.png) no-repeat;
    background-position: 0 -1px;
    width: 56px;
    height: 56px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%;
}
.additional-instruments .el-div:hover{
    background: url(/static/img/elements/box.png) no-repeat #d3d3d3;
    background-position: 0 -1px;
}
.additional-instruments .el-div:active{
    background: url(/static/img/elements/box.png) no-repeat #808080;
    background-position: 0 -1px;
}
.additional-instruments .el-div:focus{
    background: url(/static/img/elements/box.png) no-repeat #808080;
    background-position: 0 -1px;
}

.el-href{
    background: url(/static/img/elements-min/link-min.png) no-repeat;
    width: 39px;
    height: 39px;
    border: 1px solid #999;
    border-radius: 50%;
}
.el-href:hover{
    background: url(/static/img/elements-min/link-min.png) no-repeat #d3d3d3;

}
.el-href:active{
    background: url(/static/img/elements-min/link-min.png) no-repeat #808080;

}
.el-href:focus{
    background: url(/static/img/elements-min/link-min.png) no-repeat #808080;

}

.additional-instruments .el-href{
    background: url(/static/img/elements/link.png) no-repeat;
    background-position: 0 -1px;
    width: 56px;
    height: 56px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%;
}

.additional-instruments .el-href:hover{
    background: url(/static/img/elements/link.png) no-repeat #d3d3d3;
    background-position: 0 -1px;
}
.additional-instruments .el-href:active{
    background: url(/static/img/elements/link.png) no-repeat #808080;
    background-position: 0 -1px;
}
.additional-instruments .el-href:focus{
    background: url(/static/img/elements/link.png) no-repeat #808080;
    background-position: 0 -1px;
}

.el-html{
    background: url(/static/img/elements-min/html-min.png) no-repeat;
    width: 39px;
    height: 39px;
    border: 1px solid #999;
    border-radius: 50%;
}

.el-html:hover{
    background: url(/static/img/elements-min/html-min.png) no-repeat #d3d3d3;

}
.el-html:active{
    background: url(/static/img/elements-min/html-min.png) no-repeat #808080;

}
.el-html:focus{
    background: url(/static/img/elements-min/html-min.png) no-repeat #808080;

}

.additional-instruments .el-html{
    background: url(/static/img/elements/html.png) no-repeat;
    background-position: 0 -1px;
    width: 56px;
    height: 56px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%;
}

.additional-instruments .el-html:hover{
    background: url(/static/img/elements/html.png) no-repeat #d3d3d3;
    background-position: 0 -1px;
}
.additional-instruments .el-html:active{
    background: url(/static/img/elements/html.png) no-repeat #808080;
    background-position: 0 -1px;
}
.additional-instruments .el-html:focus{
    background: url(/static/img/elements/html.png) no-repeat #808080;
    background-position: 0 -1px;
}

.el-social-buttons{
    background: url(/static/img/elements-min/social-buttons-min.png) no-repeat;
    width: 39px;
    height: 39px;
    border: 1px solid #999;
    border-radius: 50%;
}

.el-social-buttons:hover{
    background: url(/static/img/elements-min/social-buttons-min.png) no-repeat #d3d3d3;

}
.el-social-buttons:active{
    background: url(/static/img/elements-min/social-buttons-min.png) no-repeat #808080;

}
.el-social-buttons:focus{
    background: url(/static/img/elements-min/social-buttons-min.png) no-repeat #808080;

}

.additional-instruments .el-social-buttons{
    background: url(/static/img/elements/social-buttons.png) no-repeat;
    background-position: 0 -1px;
    width: 56px;
    height: 56px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%;
}

.additional-instruments .el-social-buttons:hover{
    background: url(/static/img/elements/social-buttons.png) no-repeat #d3d3d3;
    background-position: 0 -1px;
}
.additional-instruments .el-social-buttons:active{
    background: url(/static/img/elements/social-buttons.png) no-repeat #808080;
    background-position: 0 -1px;
}
.additional-instruments .el-social-buttons:focus{
    background: url(/static/img/elements/social-buttons.png) no-repeat #808080;
    background-position: 0 -1px;
}

.el-audio{
    background: url(/static/img/elements-min/audio-min.png) no-repeat;
    width: 39px;
    height: 39px;
    border: 1px solid #999;
    border-radius: 50% ;
}

.el-audio:hover{
    background: url(/static/img/elements-min/audio-min.png) no-repeat #d3d3d3;

}
.el-audio:active{
    background: url(/static/img/elements-min/audio-min.png) no-repeat #808080;

}
.el-audio:focus{
    background: url(/static/img/elements-min/audio-min.png) no-repeat #808080;

}

.additional-instruments .el-audio{
    background: url(/static/img/elements/audio.png) no-repeat;
    background-position: 0 -1px;
    width: 56px;
    height: 56px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%;
}

.additional-instruments .el-audio:hover{
    background: url(/static/img/elements/audio.png) no-repeat #d3d3d3;
    background-position: 0 -1px;
}
.additional-instruments .el-audio:active{
    background: url(/static/img/elements/audio.png) no-repeat #808080;
    background-position: 0 -1px;
}
.additional-instruments .el-audio:focus{
    background: url(/static/img/elements/audio.png) no-repeat #808080;
    background-position: 0 -1px;
}

#edit, #edit_two{
    background: url('/static/img/elements-min/edit-min.png') no-repeat;
    background-position: -1px -1px;
    height: 39px;
    width: 39px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%;
    padding: 0;
    margin-right: 10px;
    margin-left: 30px;

}

#edit:hover, #edit_two:hover{
     background: url(/static/img/elements-min/edit-min.png) no-repeat #d3d3d3;
    background-position: -1px -1px;
}

#edit:active, #edit_two:active{
    background: url(/static/img/elements-min/edit-min.png) no-repeat #808080;
    background-position: -1px -1px;
}

#edit:focus, #edit_two:focus{
    background: url(/static/img/elements-min/edit-min.png) no-repeat #808080;
    background-position: -1px -1px;
}

.navbar-edit .clear{
    background: url('/static/img/elements-min/delete-min.png') no-repeat;
    background-position: -1px -1px;
    height: 39px;
    width: 39px;
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%;
    padding: 0;
    margin-right: 10px;

}

.additional-instruments .clear:hover{
     background: url(/static/img/elements-min/delete-min.png) no-repeat #d3d3d3;
    background-position: -1px -1px;
}

.additional-instruments .clear:active{
    background: url(/static/img/elements-min/delete-min.png) no-repeat #808080;
    background-position: -1px -1px;
}

.additional-instruments .clear:focus{
    background: url(/static/img/elements-min/delete-min.png) no-repeat #808080;
    background-position: -1px -1px;
}

.grid_cnt{
    width: 1000px;
    margin-top: 100px;

}

.grid{
    height: 800px;
    background: url("/static/img/setka.png") repeat;
    border: 1px solid #b9b9b9;
    position: relative;
    top:18px;
    left: 18px;
}
.grid1{
    height: 800px;
    background: url("/static/img/setka.png") repeat;
    border: 1px solid #b9b9b9;
    position: relative;
    left: 18px;
    top: 0px;
}
.panel-content{
    height: 800px;
    width: 1000px;
}
.line_wight{
    height: 18px;
    border-left: 1px solid #656565;
    border-right: 1px solid #656565;
    position: fixed;
    margin-left: 18px;
    z-index: 19;
    overflow: hidden;
}


.line_wight .body{
    height: 100%;
    background: url("/static/img/line_wight.jpg")
}

.body.body-fixed{

}

div.line_wight span {
    width: 97px;
    display: block;
    text-align: right;
    float: left;
    margin-left: 1px;
    margin-right: 2px;
    font-size: 10px;
    color: #656565;
}

.line_height {
    margin-top: 18px;
    width: 18px;
    height: 800px;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565;
    position: absolute;
}
.line_height2{
    margin-top: 0px;!important
    width: 18px;
    height: 800px;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565;
    position: absolute;
}
div.line_height div.body {
    background: url("/static/img/line_height.jpg");
    text-align: left;
    height: 100%;
}

div.line_height span{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -khtml-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    color: #656565;
    display: block;
    font-size: 10px;
    width: 95px;
    height: 95px;
    margin-bottom: 5px;

}





.resize span.top-left, .resize span.top-right, .resize span.bottom-right, .resize span.bottom-left, .resize span.middle-left, .resize span.middle-right, .resize span.center-top, .resize span.center-bottom {
position: absolute;
display: block;
width: 4px;
height: 4px;
border: 1px solid #000;
background-color: #FFF;
}

.resize span.top-left {
top: -3px;
left: -3px;
cursor: nw-resize;
}

.resize span.top-right {
top: -3px;
right: -3px;
cursor: ne-resize;
}

.resize span.bottom-right {
bottom: -3px;
right: -3px;
cursor: se-resize;
}

.resize span.bottom-left {
bottom: -3px;
left: -3px;
cursor: sw-resize;
}

.resize span.middle-left {
top: 50%;
left: -3px;
margin-top: -3px;
cursor: w-resize;
}

.resize span.middle-right {
top: 50%;
right: -3px;
margin-top: -3px;
cursor: e-resize;
}

.resize span.center-top {
left: 50%;
top: -3px;
cursor: n-resize;
margin-left: -3px;
}

.resize span.center-bottom {
left: 50%;
bottom: -3px;
cursor: n-resize;
margin-left: -3px;
cursor: s-resize;
}

.menu-edit span.edit {
background: no-repeat url("/static/img/edit_1.png");
}

.menu-edit span.delete {
background: no-repeat url("/static/img/delete.png");

}

.menu-edit span{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    cursor: pointer;

}

.menu-edit{
    /*display: block !important;*/
    position: absolute;
    top: 0px;
    right: 0px;
}

.additional-instruments{
    margin: 0;
    padding: 0;
}

.additional-instruments li{
    list-style-type: none;

}
.additional-instruments>li{
    list-style-type: none;
}
.additional-instruments>li:focus{
    list-style-type: none;
}
.additional-instruments>li:hover{
    list-style-type: none;
}
.additional-instruments>li:active{
    list-style-type: none;
}

.modal-body>.advanced_settings>.link-edit-btn{
    color: black;
    width: 35px;
    height: 35px;
    padding-left: 10px;
}
.modal-body>.advanced_settings>.link-edit-btn:focus{
    background: none;
}
span>.btn-group>.link-edit-btn{
    width: 35px;
    height: 35px;
    color: black;
    padding-left: 6px;
}
span>.btn-group>.bg-edit-btn{
    width: 45px;
    height: 35px;
    color: black;
    padding-left: 6px;
}
span>.btn-group>.fr-edit-btn{
    width: 45px;
    height: 35px;
    color: black;
    padding-left: 6px;
}
.color_box{
    width:25px;
    float: left;
    margin-top:2px;
    padding:1px;
    border:1px solid #494c59;
    margin-left:5px;
    margin-left:3px!important;
    cursor:pointer;

}

.color{
    height: 20px;
}
.other{
    width: 200px;
}
.main-pics{
    display:block;
    float:left;
    text-align:center;
    font-size:12px;
    color:#464646;
    margin-bottom:10px;
    padding:3px 0;
    width: 100%;

}
.color_list{
    display:block;
    float:left;
    margin-top:15px;
    color:#464646;
    margin-bottom:10px;
     width:226px;
    height:237px;
    margin-top:26px;
    cursor:auto;
}
.selected_color{
    width: 25px;
    height: 25px;
    border: 1px #000000 solid;
    padding: 1px;
}
.modal-body>.advanced_settings>.btn-group>.frame-edit-btn{
    width: 32px;
    height: 32px;
    border: none;
}

.modal-body>.advanced_settings>.btn-group>.frame-edit-btn:hover{
    background-color: #9A8EE6;
}

.modal-body>.advanced_settings>.btn-group>.active{
    background-color: #9A8EE6;
}

.modal-body>.advanced_settings>.btn-group>.frame-img{
    background-image: url("/static/img/frame.png");
    background-repeat: no-repeat;
}
.modal-body>.advanced_settings>.btn-group>.frame-img1{
    background-image: url("/static/img/frame1.png");
    background-repeat: no-repeat;
}
.modal-body>.advanced_settings>.btn-group>.frame-img2{
    background-image: url("/static/img/frame2.png");
    background-repeat: no-repeat;
}
.modal-body>.advanced_settings>.btn-group>.frame-img3{
    background-image: url("/static/img/frame3.png");
    background-repeat: no-repeat;
}
.modal-body>.advanced_settings>.frame-edit-btn{
    color: black;
    width: 25px;
    height: 25px;
    padding-left: 10px;
}
.modal-body>.advanced_settings>.btn-group-vertical>.font-size-up{
    background-image: url("/static/img/row-down-img.png") ;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    margin-top: 2px;
}
.modal-body>.advanced_settings>.btn-group-vertical>.font-size-down{
    background-image: url("/static/img/row-up-img.png") ;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
}
modal-footer-underline{
    width: 70%;
    border-top: 2px solid #808080
}
.modal-header{
    background: #F3F3F3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main_settings{
    padding: 15px;
    margin-bottom: 10px;
}
.main_settings>h4{
    margin-top: 0px;
    border-bottom: 1px solid #808080;
    padding-bottom: 10px;
}
.advanced_settings>h4{
    margin-top: 0px;
    border-bottom: 1px solid #808080;
    padding-bottom: 10px;
}
.advanced_settings{
    background-color: #f1f1f1 ;
    border: 1px solid #888888;
    padding: 15px;
    margin-top: 10px;
}
#social_network a{
    opacity: 0.5;
    background: url("/static/img/icons.png");
    display: inline-block;
    vertical-align: bottom;
    width: 32px;
    height: 32px;
    margin: 0 6px 6px 0;
    outline: none;
}
.modal-open-size{
    width: 1015px;
    height: 505px;
}
div.scroller{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 350px;
    width: 161px;
}
.header-right-open{

}

.btn-purple{
    background-color: #9A8EE6;
    border: none;
    color: #ffffff;
    text-shadow: 1px 1px 1px #484848;

}
.btn-purple:hover{
    background-color: #8177c0;
    border: none;
    color: #ffffff;
    text-shadow: 1px 1px 1px #484848;
}
.btn-purple:active{
    background: #605d97;
     border: none;
    color: #ffffff;
    text-shadow: 1px 1px 1px #484848;
}
.btn-purple:focus{
    background-color: #9A8EE6;
    border: none;
    color: #ffffff;
    text-shadow: 1px 1px 1px #484848;
}
.desktop-search{
    height: 25px;
}
.desktop-search-ico{
    padding: 2px;
}
.left-header-open{
}
.border-line{
    border-top: #A3A3A3 solid 1px;
    margin: 10px 0;
}
.create-open{
    background-image: url("/static/img/open-editor/create_folder.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    text-decoration: none;
    font-size: 11px;
    color: black;
}
.create-open:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.rename-open{
    background-image: url("/static/img/open-editor/rename.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    text-decoration: none;
    font-size: 11px;
    color: black;
}
.rename-open:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.delete-open{
    background-image: url("/static/img/open-editor/delete.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    text-decoration: none;
    font-size: 11px;
    color: black;
}
.delete-open:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.main_dir{
    background-image: url("/static/img/open-editor/folder.png");
    background-repeat: no-repeat;
    background-position: 5px;
    height: 26px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: #515a65;
    display: block;
    padding-top: 7px;
}
.main_dir:hover{
    background: #F6F6F6;
    background-image: url("/static/img/open-editor/folder.png");
    background-repeat: no-repeat;
    background-position: 5px;
}
.main_dir:active{
    background: #d1d1d1;
    background-image: url("/static/img/open-editor/folder.png");
    background-repeat: no-repeat;
    background-position: 5px;
}
.main_dir_active{
    background: #d1d1d1;
    background-image: url("/static/img/open-editor/folder.png");
    background-repeat: no-repeat;
    background-position: 5px;
    color: #515a65;

}
.main-dir-folder{
    width: 105px;
    margin-left: 25px;
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    display: block;
    text-decoration: none;
    color: #515a65;
}

.main-dir-folder:hover{
    text-decoration: none;
    color: #515a65;
}
.dir{
    background-image: url("/static/img/open-editor/folder.png");
    background-repeat: no-repeat;
    height: 30px;
    padding-left: 25px;
    text-decoration: none;
    font-size: 11px;
    color: #515a65;
    display: block;
    padding-top: 3px;

}
.main_dir:hover{
    text-decoration: none;
    color: #515a65;
    cursor: pointer;
}
.cont-main{
    font-size: 11px;
    color: #312A20;
}

.cont-main th{
        background-color: #F6F6F6;
}

.cont-main td{

    font-size: 11px;
    color: #312A20;
}
.editor-menu-open{
    margin-bottom: 20px;
}
.header-right-open h5{
    margin-left: 10px;
}

.project:hover{
    border: 1px solid #d1d1d1 ;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FFFFFF),
        color-stop(1, #F6F6F6)
    );
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F6F6F6 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F6F6F6 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F6F6F6 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F6F6F6 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F6F6F6 100%);
    cursor: pointer;
}
.current{
      border: 1px solid #d1d1d1 ;
    background: #D1D1D1;
}
.content-open{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 260px;
}
.content-open table{
    width: 660px;
    border: 1px solid #808080 ;
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    display: block;
    min-height: 260px;

}
.content-open table th{
    border-right: 1px solid #808080 ;
    padding-left: 10px;
    padding-right: 159px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;

}
.content-open table td{
    border-right: 1px solid #808080 ;
    border-bottom: 1px solid #808080 ;
    padding-left: 10px;
     padding-top: 5px;
    padding-bottom: 5px;
    max-width: 330px;
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
}
.content-open table td:first-child{
    max-width: 250px;
}
.b-form-title{
    margin-bottom: 0px;
    margin-top: 0px;
}
.footer{
    margin-top: 100px;
    border-top: 7px solid #9a8ee6;
}
.footer-padding{
    padding-top: 20px;
    margin-bottom: 15px;
}
.table-hover>tbody>tr:active>td, .table-hover>tbody>tr:active>th{
    background-color: #D1D1D1;
}
.table-hover>tbody>tr:focus>td, .table-hover>tbody>tr:focus>th{
    background-color: #D1D1D1;
}
.table-hover>tbody>tr:active>td, .table-hover>tbody>tr:active>th{
    background-color: #D1D1D1;
}
.html-text{
    min-width: 500px;
    min-height: 150px;
}
.progress-bar{
    margin-top: 0;
    width: 100%;
    height: 100%;
}
.progress-img{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}
.counter_block{
    border: #C9C8C8 solid 1px;
    padding: 5px 10px;
    border-radius: 4px;
    background: #EFEFEF;
}

.spinner {
  margin: 20px auto;
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #9a8ee6;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.el-anchor{
    background: url(/static/img/elements-min/anchor-min.png) no-repeat;
    width: 39px;
    height: 39px;
    border: 1px solid #999;
    border-radius: 50%;
}

.el-anchor:hover{
    background: url(/static/img/elements-min/anchor-min.png) no-repeat #d3d3d3;

}
.el-anchor:active{
    background: url(/static/img/elements-min/anchor-min.png) no-repeat #808080;

}
.el-anchor:focus{
    background: url(/static/img/elements-min/anchor-min.png) no-repeat #808080;

}

.additional-instruments .el-anchor{
    background: url(/static/img/elements/anchor.png) no-repeat;
    width: 56px;
    height: 56px;
    border: 1px solid #999;
    border-radius: 50%;
}
.additional-instruments .el-anchor:hover{
    background: url(/static/img/elements/anchor.png) no-repeat #d3d3d3;

}
.additional-instruments .el-anchor:active{
    background: url(/static/img/elements/anchor.png) no-repeat #808080;

}
.additional-instruments .el-anchor:focus{
    background: url(/static/img/elements/anchor.png) no-repeat #808080;

}



.link-edit-select{
    height: 25px;
}
.link-edit-sel{
    height: 25px;
    display: none;
}
.footer-link{
    color: #71787a;
    text-decoration: underline;
}
.modal-dialog{
    margin: 100px auto;
}
.alert{
    text-align: center;
}
.menu-md{
    background: #9a8ee6;
    margin-top: -10px;
    color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: 20px;
}
.menu-md:hover{
    background: #9a8ee6 !important;
    color: #ffffff;
}
.menu-md:focus{
    background: #9a8ee6 !important;
    color: #ffffff;
}
.menu-md:active{
     background: #9a8ee6 !important;
    color: #ffffff;s
}
.menu-md-left{
    left: -1px;
}