
<div class="btn-group">
    <div class="btn btn-default frame-img frame-edit-btn" data-border="dashed">
    </div>
    <div class="btn btn-default frame-img1  frame-edit-btn" data-border="inset">
    </div>
    <div class="btn btn-default frame-img2  frame-edit-btn" data-border="outset">
    </div>
    <div class="btn btn-default frame-img3  frame-edit-btn" data-border="double">
    </div>
    <div class="btn btn-default frame-img4 frame-edit-btn" data-border="none">
    </div>
</div>
Толщина
<select id="btn-border-size">
        <option value="0">Нет</option>
        <option value="1">1px</option>
        <option value="2">2px</option>
        <option value="3">3px</option>
        <option value="4">4px</option>
        <option value="5">5px</option>
        <option value="6">6px</option>
        <option value="7">7px</option>
</select>