<div class="modal fade" id="Modal_anchor_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Редактирование Якоря</h4>
          <div class="modal-header-underline"></div>
      </div>
      <div class="modal-body">
      <div class="main_settings">
          <label for="edit-anchor">Введите название якоря</label>
          <input id="edit-anchor"  type="text"/>
      </div>

    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm good">Да</button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Нет</button>
      </div>
  </div>
</div>
</div>
