<div class="modal fade" id="Modal_area_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Основные настройки</h4>
      </div>
      <div class="modal-body">
          <div class="main_settings">

                                    <div class="border_bg_grey">
                                        <label style="width: 65px; display: inline-block">Высота:</label>
                                        <input id="field-height" style="width:80px;height: 22px; margin-right: 16px;" type="text"/>
                                        <label style="width: 65px; display: inline-block">Ширина:</label>
                                        <input id="field-width" style="width:80px;height: 22px;" type="text"/>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label style="width: 185px; display: inline-block">Фоновое изображение:</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input id="background-image" style="width:300px;height: 22px;" type="text"/>
                                            </div>
                                        </div>
                                        <br>
                                        <span id="main_page">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label style="width: 185px; display: inline-block">Стоп-траффик:</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input id="trap" style="width:280px;height: 22px;" type="text"/>
                                                <label>
                                                    <input id="trap-active" type="checkbox">
                                                </label>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label style="width: 185px; display: inline-block">Ключевые слова:</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input id="keywords" style="width:300px;height: 22px;" type="text"/>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label style="width: 185px; display: inline-block">Favicon:</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input id="favicon" style="width:300px;height: 22px;" type="text"/>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label style="width: 185px; display: inline-block">Заголовок страницы:</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input id="title" style="width:300px;height: 22px;" type="text"/>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label style="width: 185px; display: inline-block">Код Google Analytics:</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <input id="ga-code" style="width:300px;height: 22px;" type="text"/>
                                            </div>
                                        </div>
                                        </span>


                                    </div>
          </div>
          <div class="advanced_settings" >
             <h4>Дополнительные возможности</h4><br>
                 <label>Рамка:</label>
                    {% include "includes/editor_frame/frame.html" %}
                    Цвет {% include "includes/color_palette/border_color_editor.html" %}
                    <br>
                  <label>Фон:</label>
          Цвет
                {% include "includes/color_palette/background_color_editor.html" %}
           </div>


    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm good">Да</button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Нет</button>
      </div>
  </div>
</div>
</div>