<div class="modal fade" id="Modal_audio_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title" id="myModalLabel">Вставка аудио-файла</h4>
          <div class="modal-header-underline"></div>
      </div>
      <div class="modal-body">
      <div class="main_settings">
          <div class="row">
                  <div class="col-xs-5">
                      <label>Ссылка на аудио-файл:</label>
                  </div>
                  <div class="col-xs-7">
                      <input id="img-src-edit" class="text d_input" style="width: 300px;" type="text" /><br/>
                        <h6>Например: http://capture-sys.a-jetcapture.org/sound.mp3</h6>
                  </div>
              </div>
          <br>
          <div class="row">
                  <div class="col-xs-7">
                      <label "for="onstart">Воспроизводить при загрузке страницы</label>
                  </div>
                  <div class="col-xs-5">
                      <input id="onstart" type="checkbox" />
                  </div>
          </div>
          <br>
          <div class="row">
                  <div class="col-xs-6">
                      <select id="player-type">
                                                    <option value="1">Стандартный</option>
                                                    <option value="2">Стиль №2</option>
                                                    <option value="3">Стиль №3</option>
                                                    <option value="4">Стиль №4</option>
                                                    <option value="5">Стиль №5</option>
                                                </select>
                  </div>
                  <div class="col-xs-6">
                      <img id="player-preview" src="{{STATIC_URL}}img/elements/audio-view_s1.jpg" alt="player" style="float: right;" />
                  </div>
          </div>





      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm good">Да</button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Нет</button>
      </div>
    </div>

</div>
</div>
</div>