<div class="modal fade" id="Modal_img_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h4 class="modal-title" id="myModalLabel">Вставка картинки</h4>
          <div class="modal-header-underline"></div>
      </div>
      <div class="modal-body">
         <div class="main_settings">
             <div class="row">
                  <div class="col-xs-5">
                      <label>Ссылка на картинку:</label>
                  </div>
                  <div class="col-xs-7">
                      <input id="img-src-edit" type="text" style="width: 300px;"><br/>

                  </div>
              </div>
             <br>
             <div class="row">
                  <div class="col-xs-6">
                      <label>
                           <input id="is-link" type="checkbox"/>
                      </label>
                        <label>Включить кликабельность</label>
                  </div>
                  <div class="col-xs-6">
                      <input id="link-href"  type="text" style="width: 250px;"/>
                      <h6>Например http://google.com/</h6>
                  </div>
              </div>




        </div>

    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm good">Да</button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Нет</button>
      </div>
  </div>
</div>
</div>