<div class="modal fade" id="Modal_link_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Настройка ссылки</h4>
          <div class="modal-header-underline"></div>
      </div>
      <div class="modal-body">
      <div class="advanced_settings">
          <h4>Основные настройки</h4>
          <div class="row">
                <div class="col-xs-6"><label>Текст:</label></div>
                <div class="col-xs-6"><input id="link-text-edit" type="text"/>
                <div class="border_bg_grey"></div>
                </div>
                <br><br>

                <div class="col-xs-4"><label><label>Ссылка:</label></label></div>
                <div class="col-xs-2">
                    <select id="select-link-anchor" class="link-edit-select">
                         <option id="link-select">Ссылка</option>
                         <option id="anchor-select" >Якорь</option>
                    </select>
                </div>
                <div class="col-xs-6">

                    <input id="link-edit" type="text"/></div>
                    <select id="anchor-edit" class="link-edit-sel">

                    </select>
            </div>


           <input type="checkbox" style="margin-top: 15px;" id="blank"><label for="blank" style="margin-left: 8px;">Открывать в новой вкладке</label><br/>
           <input type="checkbox" style="margin-top: 10px;" id="decoration"><label for="decoration" style="margin-left: 8px;">Подчеркивать ссылку</label>
           <div class="preview_link">

           </div>
          <div class="clear"></div>
      </div>

            <a id="link" href="/"></a>

      <div class="advanced_settings" >
             <h4>Дополнительные возможности</h4><br>

              <label>Текст:</label>

                  Размер
            <input id="text-height-edit" style="width: 30px;" type="text"/>
            <div class="btn-group-vertical">
                <button id="row-up" type="button" class="btn btn-default font-size-up "></button>
                <button id="row-down" type="button" class="btn btn-default font-size-down"></button>
            </div>
          <button  id="text-bold"    type="button" class="btn btn-default link-edit-btn" ><b>Ж</b></button>
          <button  id="text-italic"  type="button" class="btn btn-default link-edit-btn" ><i>К</i></button>






                Цвет {% include "includes/color_palette/main_color_editor.html" %}<br>


                 <label>Рамка:</label>
                    {% include "includes/editor_frame/frame.html" %}
                    Цвет {% include "includes/color_palette/border_color_editor.html" %}
                    <br>
                  <label>Фон:</label>
          Цвет
                {% include "includes/color_palette/background_color_editor.html" %}





      </div>

      </div>




      <div class="modal-footer">
          <button type="button" class="btn btn-sm good">Да</button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Нет</button>
      </div>
    </div>
   </div>
  </div>
</div>
</div>