<div class="modal fade" id="Modal_youtube_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Настройка видео</h4>
          <div class="modal-header-underline"></div>
      </div>
      <div class="modal-body">
          <div class="main_settings">
              <div class="row">
                  <div class="col-xs-5">
                      <label>Ссылка на видео:</label>
                  </div>
                  <div class="col-xs-7">
                      <input id="video" type="text"  style="width: 300px;"/>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-xs-5">
                      <label>Автовоспроизведение</label>
                  </div>
                  <div class="col-xs-7">
                     <label>
                        <input id="autoplay" type="checkbox">
                     </label>
                  </div>
              </div>

      </div>

    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm good">Да</button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Нет</button>
      </div>
  </div>
</div>
</div>