<span>
    <div class="btn-group">

    <div id="bg-color" class="selected_color" style=" "></div>
        </div>


            <div class="btn-group">
            <button class="btn btn-default dropdown-toggle bg-edit-btn" type="button" data-toggle="dropdown">
                    <img src="{{STATIC_URL}}img/paintcan.ico"> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% include "includes/color_palette/color_palette.html" %}
            </ul>
        </div>
    <input style="width: 100px;" id="bg-color-edit" type="text"/><br>
</span>