<span>
<div class="btn-group">

              <div id="border-color" class="selected_color" style=" "></div>
                    </div>


                <div class="btn-group">
                <button class="btn btn-default dropdown-toggle fr-edit-btn" type="button" data-toggle="dropdown">
                 <img src="{{STATIC_URL}}img/ui-color-picker.ico">   <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                     {% include "includes/color_palette/color_palette.html" %}
                </ul>
</div>
<input style="width: 100px;" id="border-color-edit" type="text"/><br>
</span>