<div class="color_list">
                             <div class="main-pics">
                                <span>Основные цвета</span><br>
                                <div class="color_box"><div style="background: #fc0000;" class="color"></div></div>
                                <div class="color_box"><div style="background: #fc9b02;" class="color"></div></div>
                                <div class="color_box"><div style="background: #fafc00;" class="color"></div></div>
                                <div class="color_box"><div style="background: #01fc01;" class="color"></div></div>
                                <div class="color_box"><div style="background: #02fcfa;" class="color"></div></div>
                                <div class="color_box"><div style="background: #0012fc;" class="color"></div></div>
                                <div class="color_box"><div style="background: #fc01d0;" class="color"></div></div>
                                <div class="color_box"><div style="background: #ffffff;" class="color"></div></div><br>


                                <div class="color_box"><div style="background: #fcb6b6;" class="color"></div></div>
                                <div class="color_box"><div style="background: #fcceac;" class="color"></div></div>
                                <div class="color_box"><div style="background: #fcf8b2;" class="color"></div></div>
                                <div class="color_box"><div style="background: #c7fcad;" class="color"></div></div>
                                <div class="color_box"><div style="background: #a6fce5;" class="color"></div></div>
                                <div class="color_box"><div style="background: #b2cefc;" class="color"></div></div>
                                <div class="color_box"><div style="background: #f8b8fc;" class="color"></div></div>
                                <div class="color_box"><div style="background: #dddddd;" class="color"></div></div>
                                 <br>
                                <div class="color_box"><div style="background: #fe8989;" class="color"></div></div>
                                <div class="color_box"><div style="background: #f9ba68;" class="color"></div></div>
                                <div class="color_box"><div style="background: #fee378;" class="color"></div></div>
                                <div class="color_box"><div style="background: #a4fe78;" class="color"></div></div>
                                <div class="color_box"><div style="background: #78fee7;" class="color"></div></div>
                                <div class="color_box"><div style="background: #7891fe;" class="color"></div></div>
                                <div class="color_box"><div style="background: #f078fe;" class="color"></div></div>
                                <div class="color_box"><div style="background: #b7b7b7;" class="color"></div></div>
                                 <br>
                                <div class="color_box"><div style="background: #a10000;" class="color"></div></div>
                                <div class="color_box"><div style="background: #a16200;" class="color"></div></div>
                                <div class="color_box"><div style="background: #d0a202;" class="color"></div></div>
                                <div class="color_box"><div style="background: #3ab000;" class="color"></div></div>
                                <div class="color_box"><div style="background: #00b0ae;" class="color"></div></div>
                                <div class="color_box"><div style="background: #001db0;" class="color"></div></div>
                                <div class="color_box"><div style="background: #a0009e;" class="color"></div></div>
                                <div class="color_box"><div style="background: #898989;" class="color"></div></div>
                                 <br>
                                <div class="color_box"><div style="background: #6c0202;" class="color"></div></div>
                                <div class="color_box"><div style="background: #6c4502;" class="color"></div></div>
                                <div class="color_box"><div style="background: #6c6802;" class="color"></div></div>
                                <div class="color_box"><div style="background: #0e6c02;" class="color"></div></div>
                                <div class="color_box"><div style="background: #026c68;" class="color"></div></div>
                                <div class="color_box"><div style="background: #02096c;" class="color"></div></div>
                                <div class="color_box"><div style="background: #63026c;" class="color"></div></div>
                                <div class="color_box"><div style="background: #515151;" class="color"></div></div>
                                 <br>
                                <div class="color_box"><div style="background: #421715;" class="color"></div></div>
                                <div class="color_box"><div style="background: #442f13;" class="color"></div></div>
                                <div class="color_box"><div style="background: #444213;" class="color"></div></div>
                                <div class="color_box"><div style="background: #134419;" class="color"></div></div>
                                <div class="color_box"><div style="background: #155453;" class="color"></div></div>
                                <div class="color_box"><div style="background: #181554;" class="color"></div></div>
                                <div class="color_box"><div style="background: #410d40;" class="color"></div></div>
                                <div class="color_box"><div style="background: #000000;" class="color"></div></div>
                            </div>
                        <!--<button type="button" class="btn btn-default">Нет цвета</button>-->
                          </div>
