<span>
    <div class="btn-group">

    <div id="text-color" class="selected_color" style=" "></div>
        </div>


        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle link-edit-btn" type="button" data-toggle="dropdown">
                A <span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                    {% include "includes/color_palette/color_palette.html" %}
                </ul>
        </div>
    <input style="width: 100px;" id="text-color-edit" type="text"/><br>
</span>