<!DOCTYPE html>
{% load bootstrap3 %}
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}img/favicon.ico" >
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True  %}
    {% block css %}
        <!-- main CSS where -->
    {% endblock %}

    {% block js %}

    {% endblock %}
<script type="application/javascript">
    $(document).ready(function(){
        GUI.getInstance().user_id=168;
        GUI.getInstance().user_name='Zucker';
    });

</script>
{% csrf_token %}
<title>Конструктор для создания мини-сайтов за 5 минут</title>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>