{% extends "base.html" %}
{% load bootstrap3 %}
{% block css %}
    {% load compress %}
    {% compress css %}
        <link href="{{STATIC_URL}}css/style.css" type="text/css" rel="stylesheet">
    {% endcompress %}
{% endblock %}



{% block body %}

<div class="header  navbar-fixed-top" role="navigation">
    <div class="cnt_nav">


            <div class="nav-menu">

            </div>

    </div>
    <div class="clearfix"></div>

    <div class="container  hidden-sm hidden-xs">
        <div class="instruments nav-menu">

        </div>
    </div>

</div>

<div class="body body-fixed hidden-sm hidden-xs container-fluid" >
    <div class="row">
        <div class="col-lg-2">
            
            <ul class="nav nav-pills nav-stacked nav-menu-left " style="position: fixed">
                <li class="visible-lg visible-md  col-lg-12">
                    <a class="btn btn-primary open" href="#" style="background: #9A8EE6">
                        <span class="glyphicon glyphicon-folder-open"></span> <span class="my-projects">Мои проекты</span>
                    </a>
                </li>

                <li class="visible-lg visible-md col-lg-12">
                    <a class="menu new" href="#">
                        <span class="visible-lg"> Создать</span>
                    </a>
                </li>
                <li class="visible-lg visible-md  col-lg-12">
                    <a class="menu save" href="#">
                        <span class="visible-lg">Сохранить</span>
                    </a>
                </li>
                <li class="visible-lg visible-md  col-lg-12">
                    <a class="menu save-as" href="#">
                        <span class="visible-lg">Сохранить как</span>
                    </a>
                </li>
                <li class="visible-lg visible-md  col-lg-12">
                    <a class="menu back" href="#">
                        <span class="visible-lg">Шаг назад</span>
                    </a>
                </li>
                <li class="visible-lg visible-md  col-lg-12">
                    <a class="menu next" href="#">
                        <span class="visible-lg">Шаг вперед</span>
                    </a>
                </li>
                <li class="visible-lg visible-md  col-lg-12">
                    <a class="menu http" href="#">
                        <span class="visible-lg">Ссылка</span>
                    </a>
                </li>
                <li class="visible-lg visible-md  col-lg-12">
                    <a class="menu html" href="#">
                        <span class="visible-lg">HTML-просмотр</span>
                    </a>
                </li>
                <li class="visible-lg visible-md  col-lg-12">
                    <a class="menu view" href="#">
                        <span class="visible-lg">Просмотр</span>
                    </a>
                </li>
                <li class="visible-lg visible-md  col-lg-12">
                    <a class="menu public" href="#">
                        <span class="visible-lg">Опубликовать</span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="col-md-12 col-lg-10"  style="background: #ffffff">
            <div class="col-lg-12 col-md-12"  style="position: fixed;z-index: 20; background: #ffffff; padding-top: 45px; padding-bottom: 10px;" >
                <div class="row">
                    <div class="col-md-12">

                        <ul class="nav navbar-nav center-block drop">
                            <li>
                              <a href="#" class="dropdown-toggle visible-md menu-md" data-toggle="dropdown">МЕНЮ  <b class="caret"></b></a>
                                    <ul class="dropdown-menu nav-stacked menu-md-left" >
                                        <li class="visible-md col-lg-12">
                                            <a class="btn btn-primary open" href="#" style="background: #9A8EE6">
                                                <span class="glyphicon glyphicon-folder-open"></span> <span class="my-projects">Мои проекты</span>
                                            </a>
                                        </li>

                                        <li class="visible-md col-lg-12">
                                            <a class="menu new" href="#">
                                                <span class="visible-md"> Создать</span>
                                            </a>
                                        </li>
                                        <li class="visible-md col-lg-12">
                                            <a class="menu save" href="#">
                                                <span class="visible-md">Сохранить</span>
                                            </a>
                                        </li>
                                        <li class="visible-md col-lg-12">
                                            <a class="menu save-as" href="#">
                                                <span class="visible-md">Сохранить как</span>
                                            </a>
                                        </li>
                                        <li class="visible-md col-lg-12">
                                            <a class="menu back" href="#">
                                                <span class="visible-md">Шаг назад</span>
                                            </a>
                                        </li>
                                        <li class="visible-md col-lg-12">
                                            <a class="menu next" href="#">
                                                <span class="visible-md">Шаг вперед</span>
                                            </a>
                                        </li>
                                        <li class="visible-md col-lg-12">
                                            <a class="menu http" href="#">
                                                <span class="visible-md">Ссылка</span>
                                            </a>
                                        </li>
                                        <li class="visible-md col-lg-12">
                                            <a class="menu html" href="#">
                                                <span class="visible-md">HTML-просмотр</span>
                                            </a>
                                        </li>
                                        <li class="visible-md col-lg-12">
                                            <a class="menu view" href="#">
                                                <span class="visible-md">Просмотр</span>
                                            </a>
                                        </li>
                                        <li class="visible-md col-lg-12">
                                            <a class="menu public" href="#">
                                                <span class="visible-md">Опубликовать</span>
                                            </a>
                                        </li>

                                    </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-edit">
                        <li>
                            <button id="edit_two"></button>
                        </li>
                        <li>
                            <button id="clear_two" class="clear"></button>
                        </li>
                        </ul>


                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                   <div class="grid_cnt pull-left hidden-sm hidden-xs">
            <div id="fix" class="line_wight">
                <div class="body">
                    <span>100</span>
                    <span>200</span>
                    <span>300</span>
                    <span>400</span>
                    <span>500</span>
                    <span>600</span>
                    <span>700</span>
                    <span>800</span>
                    <span>900</span>
                    <span>1000</span>

                </div>
            </div>
            <div  class="line_height pull-left">
                <div class="body">
                    <span>100</span>
                    <span>200</span>
                    <span>300</span>
                    <span>400</span>
                    <span>500</span>
                    <span>600</span>
                    <span>700</span>
                    <span>800</span>
                </div>
            </div>
            <div class="grid">
                <div class="panel-content"></div>
            </div>
        </div>
            </div>

        </div>
    </div>


</div>
            <div class="clearfix"></div>


{% include "includes/new.html" %}
{% include "includes/http.html" %}
{% include "includes/open_save.html" %}
{% include "includes/help.html" %}
{% include "includes/public.html" %}

{% include "includes/editors/area_edit.html" %}
{% include "includes/editors/youtube_edit.html" %}
{% include "includes/editors/text_edit.html" %}
{% include "includes/editors/image_edit.html" %}
{% include "includes/editors/audio_edit.html" %}
{% include "includes/editors/html_edit.html" %}
{% include "includes/editors/link_edit.html" %}
{% include "includes/editors/anchor_edit.html" %}

{% include "includes/question.html" %}
{% include "includes/message.html" %}
{% include "includes/ask_user.html" %}
{% include "includes/progress_bar.html" %}
{% include "includes/move_project.html" %}


{% endblock %}

{% block js %}
     <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    {% load compress %}

        <script src="{{STATIC_URL}}js/jquery/jquery.json-2.2.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/ckeditor/ckeditor.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/elements/elements.js" type="text/javascript"></script>
    {% compress js %}
        <script src="{{STATIC_URL}}js/eventEmitter.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/geometry.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/gui.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/elements/elementsPrototypes.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/elements/elementsFunctions.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/elements/unpacks.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/elements/jqextensions.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/World.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}js/loader.js" type="text/javascript"></script>
    {% endcompress%}


{% endblock %}
