<div class="modal fade" id="Modal_help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Помощь</h4>
        <div class="modal-header-underline" ></div>
      </div>
      <div class="modal-body">
             <div class="main_settings">
           <h4> Полезные ссылки </h4>

            <a target="_blank" href="http://arnusha.ru/profile/">Арнуша</a><br>
            <a target="_blank" href="http://smayli.ru/">Смайлы</a><br>
            <a target="_blank" href="http://giiif.ru/">Генератор текста</a><br>
            <a target="_blank" href="http://www.gifpark.su/">Анимированные гифы</a><br>
            <a target="_blank" href="http://smayliki.ru/">Много разного</a><br>
            <a target="_blank" style="float: right;" href="skype:a-jetbox?call"><img src="{{STATIC_URL}}img/voice-support.png"/> Обратиться в службу поддержки  </a>
            <div style="clear: both; float: none;"></div>

        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>