<div class="modal fade" id="Modal_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="alert">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <span id="message"></span>
</div>
</div>