<div class="modal fade" id="Modal_open_save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="b-form-title" id="myModalLabel">Мои проекты</h2>
      </div>
      <div class="modal-body">
                <div class="file_work">

                        <div class="row">
                            <div style="width: 20%;" class="col-xs-3">
                                <div class="scroller ">
                                           <div class="s_body">
                                                 <div class="left-header-open"><h5>Работа с папками</h5></div>
                                                       <div class="border-line"></div>
                                                            <div class="content">
                                                                   <a class="create create-open">Создать папку</a><br>
                                                                   <a  class="rename rename-open">Переименовать</a><br>
                                                                   <a  class="delete delete-open">Удалить</a><br>
                                                                      <div class="border-line"></div>

                                                                         <div id="directs">

                                                                         </div>
                                                            </div>
                                           </div>
                                     </div>
                            </div>

                            <div style="width: 80%;" class="col-xs-9">
                                <div class="right ">
                                           <div class="header-right-open">
                                               <div class="row">
                                                <div class="col-xs-6"><h5>Работа с проектами</h5>  </div>
                                                <div class="col-xs-6">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control desktop-search">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default desktop-search desktop-search-ico" type="button"><span class="glyphicon glyphicon-search desktop-search"></span></button>
                                                        </span>
                                                    </div>
                                                </div>
                                               </div>
                                            </div>
                                           <div class="editor-menu-open">
                                               <div class="btn-group btn-group-justified">
                                                   <a href="#" data-action="edit" class="btn btn-default btn-xs btn-purple">Редактировать</a>
                                                   <a href="#" data-action="move" class="btn btn-default btn-xs btn-purple">Переместить</a>
                                                   <a href="#" data-action="get-link" class="btn btn-default btn-xs btn-purple">Получить ссылку</a>
                                                   <a href="#" data-action="delete" class="btn btn-default btn-xs btn-purple">Удалить</a>
                                                   <a href="#" data-action="rename" class="btn btn-default btn-xs btn-purple">Переименовать</a>
                                                   <a href="#" data-action="delete-file" class="btn btn-default btn-xs btn-purple">Убрать из<br> опубликованных</a>
                                                </div>
                                           </div>


                                           <div class="content-open" >
                                                   <table class="cont-main table-hover" cellpadding="0" cellspacing="0" width="100%">
                                                       <tr>
                                                           <th id="sort-by-name">
                                                               Имя
                                                           </th>
                                                           <th id="sort-by-link">
                                                               Ссылка
                                                           </th>
                                                           <th id="sort-by-date">
                                                               Дата изменения
                                                           </th>
                                                       </tr>

                                                   </table>
                                           </div>

                                   </div>
                            </div>
                        </div>





                    {% include "includes/input_name.html" %}
                    <div style="clear: both; float: none;"></div>
                </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-sm good"></button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>