<div class="modal fade " id="Modal_progress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <table style="background: rgba(51,51,51, 0.5); width: 100%; height: 100%;">
                <tr>
                        <td style="vertical-align: middle; text-align: center;">
                      <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                      </div>
                      <p style="color: #ffffff; text-shadow: 0 0 10px rgba(0,0,0,0.5); margin-left: 10px; " class="text-center">Подождите...</p>
                    </td>
                </tr>
            </table>

</div>