<div class="modal fade" id="Modal_public" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Создание нового проекта</h4>
      </div>
      <div class="modal-body">
        Вы действительно хотите очистить рабочую область? <br> Все не сохранённые данные будут потеряны.
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-sm good">Да</button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>