<div class="modal fade" id="Modal_question" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="b-form-title" id="myModalLabel">Создание нового проекта</h2>
      </div>
      <div class="modal-body">
        <div class="main_settings">
           <span id="question">
               </span>
        </div>

    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm good">Да</button>
          <button type="button" class="btn btn-sm cancel" data-dismiss="modal">Нет</button>
      </div>
  </div>
</div>
</div>